SITE_URL=https://durhamaisafety.uk/
NEXT_PUBLIC_TINA_CLIENT_ID=*** # Grab from Tina Cloud (app.tina.io)
TINA_TOKEN=*** # Grab from Tina Cloud (app.tina.io)
NETLIFY_SITE_ID=*** # Grab from Netlify Site Settings
NETLIFY_AUTH_TOKEN=*** # Grab from Netlify User Settings (Applications)