---
import Layout from '../layouts/Layout.astro';
---

<Layout 
  title="404 - Page Not Found"
  description="The page you're looking for doesn't exist."
>
  <section class="section section-neutral">
    <div class="site-container text-center">
      <h2 class="text-4xl font-bold mb-4">404 - Page not found</h2>
      <p class="text-lg mb-8">Sorry, we couldn't find the page you're looking for.</p>
      <a href="/" class="btn btn-primary">Back to Home</a>
    </div>
  </section>
</Layout>
